
@font-face {
 font-family: 'Goudy Bookletter 1911';
 src: url('../fonts/goudy_bookletter_1911.woff') format('woff'),
      url('../fonts/goudy_bookletter_1911.ttf') format('truetype'),
      url('../fonts/goudy_bookletter_1911.svg#font') format('svg');
 font-style: normal;
}

html, body {
 font-family: 'Goudy Bookletter 1911', 'Georgia', serif;
 font-size: 1em;
 margin: 0;
 padding: 10px;
 padding-left: 30px;
 padding-right: 30px;
 background-color: #fff;
 color: #111;
}

article, section, header, main, footer {
 display: block
}

em, h1, h2, h3, h4, h5, h6 { color: #a33 }
a, abbr { color: #a33 }

h1, h2, h3, h4, h5, h6 {
 margin: 0; padding: 0;
 margin-bottom: 10px;
 margin-top: 30px;
 font-weight: normal;
}

hr {
 padding: 0;
 padding-bottom: 5px;
 margin: 0;
 border: 0;
 border-top: 1px solid #aaa;
}

abbr {
 border-bottom: 1px dotted #a33;
 cursor: help;
}

p { text-align: justify }

strong {
 font-family: 'Goudy Bookletter 1911', 'Georgia', serif;
 color: #a33;
 font-style: italic;
}

ul {
 list-style: square;
 padding: 0; padding-left: 1.4em;
 margin: 0;
}

blockquote {
 padding: 10px; margin: 10px;
 font-style: italic;
 font-size: 0.9em;
}

.tiny { font-size: 0.8em }
.highlight { color: #a33; }

article footer {
 padding: 5px;
 text-align: left;
}

footer {
 text-align: center;
 padding-top: 50px;
}
